
/*fonts*/
/* rampart-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rampart One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/rampart-one-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* shadows-into-light-two-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/shadows-into-light-two-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/*colors*/
:root{
    --c-off-white: hsl(35, 71%, 89%); /*main background color*/
    --c-blue: hsla(209, 58%, 42%, 0.726);
    --c-orange: hsl(32, 100%, 60%);
    --c-light-blue: hsl(211, 100%, 86%);
    --color-main-background: var(--c-off-white);
    --color-timer-background: var(--c-light-blue);
}

/*select all elements and apply generic styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Shadows Into Light Two', Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-image: url(Images/Ducks-in-a-row-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

#background{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: black;
    background-image: url(Images/Ducks-in-a-row-logo.png);
    background-size: 35%;
    background-position: left;
    background-repeat: repeat;
    border: 5px solid black;
}

#headerImg{
    background-image: url(Images/Ducks-in-a-row-logo.png);
    width: 100%;
    height: auto;
    background-size: contain;
    filter: contrast(200%);
    h1{
        color: white;
        filter: sepia();
        font-size: 600%;
    }
}

h1{
    font-size: 3rem;
}

h1, h2{
    text-align: center;
    font-family: 'Rampart One', Arial, Helvetica, sans-serif;
    background-color: var(--c-blue);
    border-radius: 5px;

}

h3{
    text-align: center;
    font-family: 'Shadows Into Light Two', Georgia, 'Times New Roman', Times, serif;
}

/*basic image styles to prevent image from being warped and oversized */
img {
    max-width: 100%;
    height: auto;
}
/*about page links customization*/
.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials h3{
    padding: 1rem;
    margin:2rem;
    background-color: var(--c-blue);
    }
.socials .links a img {
    padding: 0.25rem;
    width: 50px; /* control image size */
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(3px 3px 3px white);
}

.socials .links a:hover img {
    transform: scale(1.5); /* zoom effect */
    filter: drop-shadow(5px 5px 5px var(--c-blue)); /* color shadow */
}


/*remove text decoration anchor tags for visited and unvisted links*/
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    color:var(--c-orange);
    text-decoration: underline;
}

/*remove list styles from header list items*/

nav{
    background-color: var(--c-off-white);
    width: 100%;
    height: auto;
    li {
    list-style-type: none;
    font-family: 'Rampart One', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 0.25rem;
    border: 1px solid black;
   
    }
}

#popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.911);/*overlays and darkens the backround*/
    display: none; /*hidden by default*/
    z-index: 999; /*above all content*/
}

#welcome-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*centers popup*/
    background-image: url(Images/Ducks-in-a-row-logo.png);
    padding: 2.5rem;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 3px black);
    text-align: center;
    display: none;
    z-index: 1000; /*above overlay*/
    h2{
        color: black;
        margin-bottom: 15px;
        background-color: var(--c-blue);
    }
    p{
        color: #666;
        background-color: var(--c-light-blue);
    }
    input{
       width: 80%;
       padding: 10px;
       margin: 10px;
       border: 1px solid #ccc;
       border-radius: 4px;
       font-size: 16px;
    }
    button{
        background-color: var(--c-blue);
        padding: 10px 20px;
        border: none;   
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

}

#welcome-msg{
    background-color: #fff;

}
/*container styles for all pages*/
.container{
    background-color: var(--color-timer-background);
    margin-top: 8rem;
    margin-bottom: 6rem;;
    width: 50%;
    height: fit-content;
    padding: 0.70rem;
    filter:drop-shadow(5px 5px 5px black);
    border-radius: 20px;
    opacity: 0.85;
    /*styling for all forms*/
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    h3{
        background-color:#fff;
    }
    /*styles for home page form*/
    .customform{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        label,input,button,select{
            padding: 0.25rem;
            margin: 0.5rem;
        }
    }
    /*styles for contact form*/
    .contactform{
        h2{
            margin: 1rem;
            padding: 0.25rem;
            color: black;
        }
        input,textarea{
        width: 80%;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        font-size: 16px;
        border: 2px solid #ccc;
        }
        button{
            background-color: var(--c-blue);
            padding: 10px 20px;
            border: none;   
            border-radius: 4px;
            cursor: pointer;
            width: 25%
        }
    }
}

.timerdisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    margin: 0;
    box-shadow: 0 0 0 3px white;
    filter: drop-shadow(3px 3px 3px white);
    transition: background-color 0.5s;
    max-width: auto;
}

.settimer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    max-width: 100%;
}

.settimer input{

    outline: none;
    margin: .5rem;
    width: 100%;
    font-size: 1.25rem;
    font-family: 'Shadows Into Light Two', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    filter:drop-shadow(3px 3px 3px black);
}

.controltimer{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    max-width: 100%;
}

.controltimer button{
    background-color: var(--c-blue);
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    font-family:'Rampart One', Arial, Helvetica, sans-serif;;
    cursor:pointer ;
    filter:drop-shadow(3px 3px 3px grey);
    margin: 0.5rem;
    padding: 0.5rem;
    width: auto;
    border-radius: 5px;
}

/*Timer feature*/
.timerdisplay.flash{
    background-color: red;
}

footer{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    background-color: var(--c-off-white);
}
